*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    color: #333;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
}
.card {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 320px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 20px;
}
.card__image-container {
    width: 100%;
    height: 56%;
    border-radius: 10px;
    overflow: hidden;
}
.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin: 24px 0;
    color: hsl(218, 44%, 22%);
}
.card__description {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: hsl(216, 15%, 48%);
}